<% 
    speaker_names = workshop.speaker_tags.map { |st| data.speakers.find { |s| s.tag == st }.name }.join(", ") 
%>

<section id="workshop-details">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 col-xs-2 col-sm-3 speaker-photo">
                <div>
                    <%= tag :img, :src => '/images/people/' + workshop.speaker_photo_tag + '.png', :alt => speaker_names %>
                </div>
            </div>
            <div class="col-9 col-xs-10 col-sm-9 details-content">
                <h1><%= workshop.title %></h1>
                <h5><%= speaker_names %></h5>
                <div class="content-wrapper d-none d-md-block">
                    <div>
                        <%= partial(workshop.description_template) %>
                    </div>                
                </div>
            </div>
        </div>
        <div class="row d-md-none content-wrapper">
            <div class="col">
                <div>
                    <%= partial(workshop.description_template) %>
                </div>
            </div>
        </div>
    </div>
</section>