<section id="previousEvents">
    <div class="container-fluid">
        <div class="section-header text-center">
            <h3>Previous Events</h3>
            <p class="mb-1">
                See what we did in the past.
            </p>
            <p class="mb-1">
                Take a look at <a href="https://2017.devconf.pl">2017</a>, <a href="https://2018.devconf.pl">2018</a> and <a href="https://2019.devconf.pl">2019</a> or check out <a href="https://www.flickr.com/photos/151642418@N02/">the full gallery</a>.
            </p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="gallery">
                    <%= partial("photo_gallery_item", :locals => { :id => 1 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 4 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 7 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 9 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 10 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 11 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 12 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 13 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 14 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 15 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 18 }) %>
                    <%= partial("photo_gallery_item", :locals => { :id => 19 }) %>
                </div>
            </div>
        </div>
    </div>
</section>